/*------------------------------------------------------------
common
------------------------------------------------------------*/
body {
  font-family: 'Noto Sans JP', 'Century Gothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 游ゴシック体, YuGothic, "Yu Gothic Medium", 游ゴシック, 'Yu Gothic', メイリオ, Meiryo, sans-serif;
}

#top {
  font-size: 13px;
  font-weight: 500;
  background: #fff;
  position: relative;
}

#top * {
  box-sizing: border-box;
}

#top a {
  transition: opacity .3s;
}

#top a[href^="tel:"] {
  display: inline-block;
  transition: none;
}

#top a:hover {
  text-decoration: none;
}

#top a:focus-visible {
  outline: none;
}

#top img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#top .js-fadein {
  opacity: 0;
  transform: translate(0, 20px);
  transition-property: opacity, transform;
  transition-duration: 1s;
}

#top .scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}


#top .inner {
  /* width: calc(100% - 24px); */
  max-width: 1224px;
  padding: 0px 12px;
  margin: auto;
}

#top .flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



#top {
  position: relative;
  /* font-family: "Noto Sans JP", sans-serif; */
}


#top .koulen {
  font-family: "Koulen", serif;
  font-style: normal;
}


/* ----block-place----*/
#top .text-place {
  display: flex;
  justify-content: flex-end;
  width: 50%;

  z-index: 99;
}

#top .img-palce {
  width: 50%;
  padding: 0px 0px 0px 40px;
}

#top .text-place .dl-place {
  max-width: 570px;
  padding: 0px 10px 20px 0px;
  padding-top: clamp(16px, 3vw, 55px);
  position: relative;

}

#top .text-place .dl-place::after {
  position: absolute;
  content: "";
  width: clamp(200px, 30vw, 467px);
  height: clamp(200px, 30vw, 467px);
  background: #F5F7FC;
  left: -36%;
  top: 9%;
  z-index: -1;
  border-radius: 50%;
}

#top .text-place .dl-place .dt-place {
  font-size: clamp(16px, 4vw, 60px);
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
}

#top .text-place .dl-place .dt-place::after {
  position: absolute;
  content: "";
  background-image: url(../images/top/icon_title.svg);
  width: 600px;
  height: 196px;
  right: -32px;
  bottom: -65px;

}

#top .text-place .dl-place .dd-place {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 30px;
}

#top .text-place .dl-place .dt-place .blue {
  color: #2C4198;
  display: inline-block;
  margin-left: -32px;
  letter-spacing: -2px;
  margin-bottom: clamp(30px, 5vw, 70px);
}

#top .link-top {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #2C4198;
  padding: 22px 20px 22px 15px;
  color: #2C4198;
  font-size: clamp(21px, 1.75vw, 22px);
  position: relative;
  transition: 0.5s;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  display: block;
  margin-top: 60px;
}

#top .link-top::after {
  position: absolute;
  content: "";
  background-image: url(../images/top/arrow_left_right.svg);
  width: 16px;
  height: 30px;
  right: 17px;
  top: 24px;

}

#top .link-top:hover {
  background: #2C4198;
  color: #fff;
}

#top .link-top:hover::after {
  position: absolute;
  content: "";
  background-image: url(../images/top/arrow_left_right_hover.svg);
}

#top .block-place {
  padding: 85px 0px 0px 0px;
  position: relative;
}


#top .img-icon {
  max-width: 940px;
  margin: auto;
  margin-top: -90px;
}

/* ----block-main-----*/
#top .block-main {
  padding: 115px 0px 150px;
  background: #2C4198;
  margin-bottom: 20px;
  overflow: hidden;
}

#top .title-page {
  display: flex;
  justify-content: center;
  font-size: clamp(30px, 6vw, 56px);
  color: #fff;
  font-weight: 700;
  padding-left: 70px;
  margin-bottom: 100px;
}

#top .title-page span {
  display: inline-block;
  position: relative;
}

#top .title-page span::after {
  position: absolute;
  content: "";
  background-image: url(../images/top/icon_title_page.svg);
  width: 92px;
  height: 38px;
  left: -113px;
  top: 24px;
}


#top .link-top.two {
  width: 68%;
  border-radius: 10px;
  border: none;
  padding: 22px 27px 22px 47px;
  color: #2C4198;
  font-size: clamp(16px, 1.75vw, 22px);
  margin-top: 0px;
  background: white;
  letter-spacing: 2px;
  border: 2px solid #fff;
}

#top .link-top.two::after {
  right: 47px;
  top: 24px;
}

#top .link-top.two:hover {
  background: #2C4198;
  color: #fff;
  border: 2px solid #fff;
}

#top .item-conncet {
  margin-bottom: 102px;
}

#top .item-conncet .box-img {
  width: 50%;
  position: relative;
  padding-top: 5px;
}

#top .item-conncet .box-img::after {
  position: absolute;
  content: "";
  background-image: url(../images/top/icon_img01a.svg);
  width: 190px;
  height: 190px;
  left: -50px;
  top: -20px;
}

#top .item-conncet .box-img::before {
  position: absolute;
  content: "";
  background-image: url(../images/top/icon_img01b.svg);
  width: 180px;
  height: 180px;
  right: -60px;
  bottom: -45px;
}

#top .item-conncet .dl-conncet {
  width: 50%;
  padding-right: 50px;
  color: white;
  padding-top: 0px;
}

#top .item-conncet:nth-child(2n) .dl-conncet {
  padding-right: 0px;
  padding-left: 41px;
  order: 2;
}

#top .item-conncet:nth-child(2n) .box-img {
  order: 1;
}

#top .item-conncet .dt-conncet {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: 700;
}

#top .item-conncet .dt-conncet .es-dt {
  font-size: 26px;
  margin-left: 12px;
  vertical-align: bottom;
}

#top .item-conncet .dd-conncet {
  font-size: 16px;
  line-height: 30px;
  min-height: 222px;
  font-weight: 500;
}

#top .item-conncet:nth-child(2) .box-img::after {
  background-image: url(../images/top/icon_img02a.svg);
  width: 176px;
  height: 176px;
  left: -42px;
  top: -28px;
}

#top .item-conncet:nth-child(2) .box-img::before {
  background-image: url(../images/top/icon_img02b.svg);
  width: 130px;
  height: 130px;
  right: -34px;
  bottom: -10px;
}

#top .item-conncet:nth-child(3) .box-img::after {
  background-image: url(../images/top/icon_img03a.svg);
  width: 190px;
  height: 190px;
  left: -77px;
  top: 0px;
}

#top .item-conncet:nth-child(3) .box-img::before {
  background-image: url(../images/top/icon_img03b.svg);
  width: 125px;
  height: 125px;
  right: -35px;
  bottom: 0px;
}


/* ----block-note-----*/

#top .block-note {
  background-image: url(../images/top/voice_area.png);
  background-size: contain;
  background-position: center;
  padding: 41px 41px 50px 41px;
}

#top .block-note .title-note {
  font-size: 36px;
  font-weight: 700;
  color: #2C4198;
  display: inline-block;
  padding: 0px 26px 3px 28px;
  margin-bottom: 32px;
  position: relative;
}

#top .block-note .title-note::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 87%;
  left: 29px;
  bottom: -2px;
  background: #2C4198;
}



#top .block-note .list-note .item-note {
  width: calc(50% - 20px);
  border-radius: 10px;
  background: white;
  padding: 38px 28px 25px 28px;
  border: 2px solid #2C4198;
}

#top .block-note .list-note .h4-note {
  font-size: 24px;
  font-weight: 700;
  color: #2C4198;
  display: inline-block;
  padding: 0px 15px 15px 50px;
  margin-bottom: 22px;
  position: relative;
}

#top .block-note .list-note .h4-note.two {
  padding: 0px 15px 15px 70px;
}

#top .block-note .list-note .h4-note::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 90%;
  left: 40px;
  bottom: 4px;
  background: #2C4198;
}

#top .block-note .list-note .p-note {
  font-size: 16px;
  line-height: 30px;
  color: #2C4198;
  font-weight: 400;
}

/* ----block-link-----*/
#top .block-link {
  background: #2C4198;
  padding: 112px 0px 112px;
}

#top .block-link .inner-link {
  max-width: 1125px;
  margin: auto;
}

#top .block-link .item-link {
  position: relative;
}

#top .block-link .item-link.one {
  margin-bottom: 127px;
}

#top .block-link .item-link.one::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: repeating-linear-gradient(to right, #ffff, #ffff 8px, transparent 4px, transparent 13px);
  bottom: -63px;
}

#top .block-link .item-link .link-top.three {
  position: absolute;
  right: 35px;
  top: -12px;
}

#top .link-top.three {
  width: 400px;
  border-radius: 10px;
  border: none;
  padding: 22px 27px 22px 94px;
  color: #2C4198;
  font-size: clamp(16px, 1.75vw, 22px);
  margin-top: 0px;
  background: white;
  letter-spacing: 2px;
  border: 2px solid #fff;
}

#top .link-top.three.add {
  padding: 20px 27px 22px 27px;
}

#top .link-top.three::after {
  right: 28px;
  top: 24px;
}

#top .link-top.three.last::after {
  right: 95px;
  top: 24px;
}

#top .link-top.three:hover {
  background: #2C4198;
  color: #fff;
  border: 2px solid #fff;
}



#top .block-link .title-link {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  padding-left: 35px;
}

#top .block-link .es-link {
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  margin-left: 32px;
}

/* ----block-info-----*/

#top .block-info {
  padding: 0px 0px 135px 0px;
  position: relative;
}

#top .img-icon.two {
  margin-top: 0px;
  margin-bottom: 21px;
}

#top .block-info .img-mobi {
  display: none;
}

#top .block-info .img-pc {
  position: absolute;
  right: -6%;
  top: 6%;
}

#top .block-info .conent-info {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

#top .title-page.info {
  display: flex;
  justify-content: left;
  font-size: clamp(30px, 4vw, 54px);
  font-weight: 700;
  padding-left: 113px;
  margin-bottom: 45px;
  color: #2C4198;
}

#top .block-info .note-info {
  width: 670px;
  height: 130px;
  background: #EBF0F9;
  padding: 23px 10px 10px 0px;
  color: #2C4198;
  margin-bottom: 40px;
  text-align: center;
}

#top .block-info .info01 {
  font-size: 33px;
  font-weight: 700;
}

#top .block-info .info02 {
  font-size: 20px;
  font-weight: 700;
}

#top .block-info .text-info {
  font-size: 18px;
  line-height: 32px;
  color: #2C4198;
  font-weight: 500;
  max-width: 660px;
  margin-bottom: 40px;
}

#top .block-info .note-last {
  font-size: 24px;
  font-weight: 700;
  color: #2C4198;
}

#top .block-info .link-top.three {
  border: 2px solid #2C4198;
  margin-bottom: 60px;
}

#contenttop {
  overflow: hidden;
}

#main_wrap .sp-br {
  display: none;
}

#main_wrap .pc-br {
  display: block;
}



#top .span-es {
  font-size: 29px;
  position: relative;
  top: 2px
}


@media (max-width: 1400px) {

  #top .block-info .img-pc {
    position: absolute;
    right: 1%;
    top: 6%;
    width: 40%;
  }

}

@media (max-width: 767px) {
  #top .span-es {
    font-size: 19px;
    position: relative;
    top: 2px
  }
  #main_wrap .sp-br {
    display: block;
  }

  #main_wrap .pc-br {
    display: none;
  }

  #top .text-place,
  #top .img-palce,
  #top .item-conncet .dl-conncet,
  #top .item-conncet .box-img,
  #top .block-note .list-note .item-note {
    width: 100%;
  }

  #top .block-link .item-link .link-top.three {
    position: relative;
    right: unset;
    top: unset;
    width: 300px;
  }

  #top .text-place .dl-place .dt-place::after {
    right: -155px;
    bottom: -79px;
    transform: scale(0.4);
  }

  #top .item-conncet .box-img::after {
    background-image: url(../images/top/icon_img01a.svg);
    left: -60px;
    top: -55px;
    transform: scale(0.5);
  }

  #top .item-conncet .box-img::before {
    background-image: url(../images/top/icon_img01b.svg);
    right: -57px;
    bottom: -57px;
    transform: scale(0.5);
  }

  #top .item-conncet:nth-child(2) .box-img::after {
    background-image: url(../images/top/icon_img02a.svg);
    left: -45px;
    top: -45px;
    transform: scale(0.5);
  }

  #top .item-conncet:nth-child(2) .box-img::before {
    background-image: url(../images/top/icon_img02b.svg);
    right: -42px;
    bottom: -37px;
    transform: scale(0.5);
  }

  #top .item-conncet:nth-child(3) .box-img::after {
    background-image: url(../images/top/icon_img03a.svg);
    left: -81px;
    top: -38px;
    transform: scale(0.5);
  }

  #top .item-conncet:nth-child(3) .box-img::before {
    background-image: url(../images/top/icon_img03b.svg);
    right: -31px;
    bottom: -30px;
    transform: scale(0.5);
  }

  #top .link-top.three {
    width: 300px;
  }

  #top .text-place .dl-place {
    max-width: auto;
  }

  #top .text-place .dl-place::after {
    left: 11%;
    top: 6%;
  }

  #top .block-place {
    padding: 13px 0px 0px 0px;
    position: relative;
  }

  #top .text-place .dl-place {
    max-width: 570px;
    padding: 0px 12px 32px 12px;
    padding-top: clamp(16px, 3vw, 55px);
    position: relative;
  }

  #top .text-place .dl-place .dt-place {
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  #top .text-place .dl-place .dt-place .blue {
    margin-left: -14px;
    letter-spacing: -1px;
    margin-bottom: 18px;
  }

  #top .text-place .dl-place .dd-place {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0px;
    margin-bottom: 0px;
  }

  #top .link-top {
    border-radius: 5px;
    border: 2px solid #2C4198;
    padding: 13px 20px 13px 10px;
    font-size: 14px;
    margin-top: 28px;
  }

  #top .link-top::after {

    right: 9px;
    top: 9px;
    transform: scale(0.5);
  }

  #top .img-palce {
    padding: 0px 0px 0px 0px;
    text-align: center;
  }


  #top .img-icon {
    margin-top: 0px;
  }

  #top .title-page span::after {
    background-image: url(../images/top/icon_title_page_sp.svg);
    width: 64px;
    height: 33px;
    left: -56px;
    top: 4px;
    transform: scale(0.8);
  }

  #top .title-page {
    font-size: clamp(14px, 6vw, 22px);
    color: #fff;
    padding-left: 35px;
    margin-bottom: 28px;
    letter-spacing: 0px;
  }

  #top .block-main {
    padding: 37px 0px 50px;
    margin-bottom: 10px;
  }

  #top .item-conncet .box-img {
    order: 1;
    margin-bottom: 20px;
  }

  #top .item-conncet .dl-conncet {
    order: 2;
    padding-right: 0px;
  }


  #top .item-conncet .dt-conncet {
    font-size: 18px;
    margin-bottom: 14px;
  }

  #top .item-conncet .dt-conncet .es-dt {
    font-size: 13px;
    margin-left: 6px;
  }

  #top .item-conncet .dd-conncet {
    font-size: 13px;
    line-height: 24px;
    min-height: auto;
    font-weight: 400;
  }

  #top .flex-mobi {
    display: flex;
    justify-content: flex-end;
  }

  #top .link-top.two {
    width: 190px;
    border-radius: 5px;
    padding: 8px 10px 6px 15px;
    font-size: 14px;
    margin-top: 17px;
    letter-spacing: 0px;
    border: 2px solid #fff;
  }

  #top .link-top.two::after {
    right: 6px;
    top: 3px;
  }

  #top .item-conncet {
    margin-bottom: 56px;
  }

  #top .item-conncet:nth-child(2n) .dl-conncet {
    padding-right: 0px;
    padding-left: 0px;
    order: 2;
  }

  #top .item-conncet .box-img img,
  #top .img-palce img {
    width: 100%;
  }

  #top .block-note {
    background-image: url(../images/top/voice_area-sp.png);
    padding: 17px 20px 21px 20px;
    background-size: cover;
    position: relative;
  }

  #top .block-note::after {
    position: absolute;
    content: "";
    border: 4px solid #D8dfef;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }




  #top .block-note .title-note {
    font-size: 18px;
    font-weight: 700;
    color: #2C4198;
    display: inline-block;
    padding: 0px;
    margin-bottom: 28px;
    position: relative;
    margin-left: -5px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  #top .block-note .list-note .h4-note {
    font-size: 15px;
    font-weight: 700;
    color: #2C4198;
    padding: 0px;
    margin-bottom: 11px;
    text-align: center;
    display: block;
  }

  #top .block-note .list-note .item-note {
    width: calc(50% - 20px);
    border-radius: 5px;
    padding: 9px 15px 13px 15px;
  }

  #top .block-note .list-note .p-note {
    font-size: 13px;
    line-height: 24px;
    color: #2C4198;
    font-weight: 400;
  }

  #top .block-note .list-note .item-note {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 0px;
    border: 1px solid #2C4198;
  }

  #top .block-note .list-note .h4-note.two {
    padding: 0px 15px 15px 10px;
    margin-bottom: 0px;
  }

  #top .block-note .list-note .h4-note.two::after {
    bottom: 11px;
    width: 79%;
    left: 27px;

  }

  #top .block-note .title-note::after {
    height: 2px;
    width: 100%;
    left: 0px;
    bottom: -4px;
  }

  #top .block-note .list-note .h4-note::after {

    height: 1px;
    width: 83%;
    left: 25px;
    bottom: -3px;
  }

  #top .block-link .title-link {
    font-size: 18px;
    padding-left: 0px;
  }

  #top .block-link .es-link {
    font-size: 13px;
    margin-left: 5px;
  }


  #top .block-link .item-link .link-top.three {
    width: 190px;
    border-radius: 5px;
    padding: 8px 10px 6px 15px;
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 0px;
    border: 2px solid #fff;
  }

  #top .block-link {
    background: #2C4198;
    padding: 28px 12px 54px;
  }

  #top .block-link .item-link .link-top.three.add {
    width: 214px;
  }

  #top .link-top.three::after {
    right: 5px;
    top: 4px;
  }

  #top .link-top.three.last::after {
    right: 25px;
    top: 3px;
  }

  #top .block-link .item-link.one {
    margin-bottom: 44px;
  }


  #top .block-link .item-link.one::after {
    height: 1px;
    background: repeating-linear-gradient(to right, #ffff, #ffff 4px, transparent 4px, transparent 8px);
    bottom: -22px;
  }

  #top .img-icon.two {
    margin-top: 0px;
    margin-bottom: 16px;
  }

  #top .title-page.info {
    font-size: 20px;
    padding-left: 52px;
    margin-bottom: 33px;
  }

  #top .block-info .note-info {
    width: 97%;
    height: auto;
    background: #EBF0F9;
    padding: 15px 0px 17px 0px;
    color: #2C4198;
    margin-bottom: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 18px;
  }

  #top .block-info .info02 {
    font-size: 13px;
  }

  #top .block-info .info01 {
    font-size: 18px;
  }

  #top .block-info .link-top.three {
    width: 190px;
    border-radius: 5px;
    padding: 8px 10px 6px 15px;
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 0px;
    border: 2px solid #2C4198;
    margin-bottom: 30px;
    margin-right: 13px;

  }

  #top .block-info .link-top.three.last {
    padding: 8px 10px 6px 30px;
  }

  #top .block-info .text-info {
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
    max-width: 660px;
    margin-bottom: 0px;
    padding: 0px 12px;
  }

  #top .block-info .img-pc {
    position: relative;
    right: unset;
    top: unset;
    max-width: 225px;
    margin: auto;
  }

  #top .block-info .note-last {
    font-size: 16px;
    text-align: center;
    padding: 0px 12px;
    line-height: 30px;
  }

  #top .block-info {
    padding: 0px 0px 25px 0px;
    position: relative;
  }

  #top .block-info .inner {
    padding: 0px;
  }


}





#top .swiper-wrapper {
  position: relative;
}

#top .swiper-wrapper .box-text {
  position: absolute;
  top: 17%;
  left: 9%;
}

#top .title-main {
  font-size: clamp(60px, 6vw, 100px);
  line-height: clamp(95px, 8vw, 150px);
  margin-bottom: clamp(20px, 2.5vw, 45px);
  color: white;
  font-weight: 700;
}

#top .note-banner {
  font-size: clamp(16px, 2vw, 32px);
  line-height: clamp(20px, 3vw, 55px);
  color: white;
  font-weight: 700;

}

@media (max-width: 1300px) {
  #top .note-banner {
    font-size: 20px;
  }

}

@media (max-width: 767px) {
  #top .swiper-wrapper .box-text {
    position: absolute;
    top: 6%;
    left: 8%;
  }

  #top .title-main {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 18px;
  }

  #top .note-banner {
    font-size: 13px;
    line-height: 20px;
    text-shadow: 0px 2px 2px rgba(22, 37, 102, 0.7)
  }
}

@media (max-width: 350px) {
  #top .title-main {
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 10px;
  }

  #top .note-banner {
    font-size: 12px;
    line-height: 20px;
  }

  #top .latestJob {
    padding: 15px 15px 5px 20px;
  }

  #top .text-place .dl-place .dd-place {
    font-size: 12px;
  }
  #top .link-top {
    padding: 10px 20px 10px 15px;
    font-size: 11px;
    margin-top: 28px;
  }
  #top .link-top::after {
    right: 15px;
    top: 4px;
    transform: scale(0.45);
  }
  #top .block-note .list-note .h4-note {
    font-size: 13px;
  }
  #top .block-info .info01 {
    font-size: 13px;
  } 
  #top .block-info .info02 {
    font-size: 11px;
  }
  #top .block-info .note-last {
    font-size: 14px;
    padding: 0px 12px;
    line-height: 24px;
 }

}




/*--------- #titlebannerpage-------- */


#banner-page {
  position: relative;
}
#banner-page .title-banner {
  position: absolute;
  left: 9%;
  bottom: 19%;
}
#banner-page .mv-title-jp {
  font-size: clamp(40px, 5vw, 70px);
  color: #2C4198;
  font-weight: 700
}
#banner-page .mv-title-en {
  font-size: clamp(26px, 3vw, 32px);
  color: #2C4198;
  font-weight: 700;
  margin-top: 12px;
  letter-spacing: 1px;
}

@media (max-width: 768px) { 
  #banner-page .title-banner {
    position: absolute;
    left: 6%;
    bottom: unset;
    top: 16%;
  }
  #banner-page .mv-title-jp {
      font-size: 27px;
  }
  #banner-page .mv-title-en {
    font-size: 16px;
    margin-top: 2px;
    letter-spacing: 1px;
  }


}



#contactFooter .info-contact {

  height: 785px;
  padding: 110px 0px 0px 10px;
  position: relative;
  z-index: 99;
}
#contactFooter .info-contact::before {
  position: absolute;
  content: "";
  background: #2C4198;
  width: 100%;
  height: 100%;
  top:0px;
  left: 0px;
  z-index: 0;
  clip-path: polygon(0 0, 100% 0, 100% 82%, 50% 100%, 0 82%);
}
#contactFooter .info-contact .inner-contact {
  max-width: 1250px;
  margin: auto;
  padding: 0px 20px;
  color: white;
  position: relative;
}

#contactFooter .text-01 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 55px;
}
#contactFooter .text-02 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}
#contactFooter .img-info {
  margin-top: -185px;
}

#contactFooter .link-top.page {
  position: relative;
  width: 500px;
  border-radius: 10px;
  border: none;
  padding: 22px 27px 22px 60px;
  color: #2C4198;
  font-size: clamp(21px, 1.75vw, 22px);
  margin-top: 0px;
  background: white;
  letter-spacing: 2px;
  border: 2px solid #fff;
  display: block;
  margin-bottom: 45px;
  transition: 0.5s;
  font-weight: 700;
}
#contactFooter .link-top.page:hover {
  background: #2C4198;
  color: #fff;
  border: 2px solid #fff;
}
#contactFooter .link-top.page::after {
  position: absolute;
  content: "";
  background-image: url(../images/top/arrow_left_right.svg);
  width: 16px;
  height: 30px;
  right: 60px;
  top: 24px;
}
#contactFooter .link-top.page:hover::after {
  position: absolute;
  content: "";
  background-image: url(../images/top/arrow_left_right_hover.svg);
}
#main_wrap {
  overflow: hidden;
}
#contactFooter .text-03 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: -5px;
}
#contactFooter .text-04 {
  font-size: 60px;
  font-weight: 700;
}
#contactFooter .contact-text {
  z-index: 99;
  position: absolute;
  bottom: -28px;
  right: 49px;
}
#contactFooter .icon-info {
  position: absolute;
  bottom: 8%;
  right: -6%;
  width: 50%;
  max-width: 628px;
}

#top .img-icon.animate {
  animation: drawLines 2s forwards;
  clip-path: inset(0 100% 0 0);
}


@keyframes drawLines {
  from {
      clip-path: inset(100% 0 0 0);
  }

  to {
      clip-path: inset(0 0 0 0);
  }
}

@media (max-width: 1500px) { 
  #contactFooter .icon-info {
    right: 5%;
    width: 45%;
  }
}
@media (max-width: 786px) { 
  #contactFooter .info-contact {
    height: 425px;
    padding: 25px 15px 0px 13px;
  }
  #contactFooter .text-01 {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  #contactFooter .info-contact .inner-contact {
    padding: 0px;
  }
  #contactFooter .text-02 {
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  #contactFooter .link-top.page {
    width: 242px;
    border-radius: 5px;
    border: none;
    padding: 10px 5px 8px 12px;
    font-size: 12px;
    margin-top: 0px;
    letter-spacing: 2px;
    border: 2px solid #fff;
    margin-bottom: 13px;
  }
  #contactFooter .link-top.page::after {
    background-image: url(../images/top/arrow_left_right.svg);
    width: 16px;
    height: 30px;
    right: 10px;
    top: 3px;
    transform: scale(0.5);
  }
  #contactFooter .text-04 {
    font-size: 25px;
    margin-bottom: 8px;
  }
  #contactFooter .text-03 {
    font-size: 12px;
    margin-bottom: 0px;
  }
  #contactFooter .info-contact::before {
    clip-path: polygon(0 0, 100% 0, 100% 64%, 50% 80%, 0 64%);
  }
  #contactFooter .img-info {
    margin-top: -157px;
  }
  #contactFooter .icon-info {
    right: -5%;
    width: 53%;
    bottom: -15%;
  }
  #contactFooter .contact-text {
    z-index: 99;
    position: relative;
    bottom: unset;
    right: unset;
  }
  #contactFooter .contact-text img{
    width: 173px;
  }
}
@media (max-width: 374px) { 

  #contactFooter .text-01 {
    font-size: 13px;
    line-height: 28px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  #contactFooter .text-02 {
    font-size: 11px;
    line-height: 26px;
    margin-bottom: 10px;
 }
  #contactFooter .contact-text img{
    width: 157px;
  }
  #contactFooter .icon-info {
    right: -5%;
    width: 48%;
    bottom: -15%;
 }
}




/*--------------- page flow ---------------*/

@import url('https://fonts.cdnfonts.com/css/tw-cen-mt');

#flow .number-info {
  font-family: 'Tw Cen MT', sans-serif;
  font-size: 100px;
  font-weight:400;
  color: rgba(235, 240, 249, 0.47);
  margin-right: 15px;
}
#flow .content-main .list-flow {
  margin-bottom: 6px;
}

#flow .title-flow {
  padding: 80px 0px 110px;
  text-align: center;
  font-size: 36px;
  line-height: 55px;
  color: #2C4198;
  font-weight: 700;
}
#flow .content-main .list-flow .item-flow {
  background: #2C4198;
  padding: 60px 0px 78px;
  position: relative;
}
#flow .content-main .list-flow .item-flow:nth-child(2) {
  padding: 55px 0px 53px;
}
#flow .content-main .list-flow .item-flow:nth-child(3) {
  padding: 68px 0px 78px;
}
#flow .content-main .list-flow .item-flow:nth-child(4) {
  padding: 60px 0px 78px;
}
#flow .content-main .list-flow .item-flow:nth-child(5) {
  padding: 70px 0px 78px;
}
#flow .content-main .list-flow .item-flow:nth-child(6) {
  padding: 67px 0px 78px;
}
#flow .content-main .list-flow .item-flow:nth-child(7) {
  padding: 67px 0px 70px;
}

#flow .content-main .list-flow .item-flow::after {
  position: absolute;
  content: "";
  background-image: url(../images/flow/line_pc.png);
  background-repeat: round;
  width: 100%;
  height:28px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -24px;
  z-index: 99;
}
#flow .content-main .list-flow .item-flow.last::after {
  display: none;
}
#flow  .list-flow .inner {
  position: relative;
  max-width: 1180px;
  padding: 0px 20px;
  margin: auto;
}

#flow  .list-flow .inner .img-icon{
  position: absolute;
  top: 58%;
  transform: translateY(-51%);
  right: 72px;
}
#flow  .list-flow .dt-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 36px;
  color: white;
  font-weight: 700;
}
#flow  .list-flow .dd-info {
  font-size: 20px;
  line-height: 36px;
  color: white;
  font-weight: 700;
  max-width: 780px;
}
#flow .box-note {
  background: #2C4198;
  margin-bottom: 30px;
  padding: 64px 0px 72px;
}
#flow .inner-note {
  max-width: 1080px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding-left: 115px;
}
#flow .inner-note  .img-note {
  width: 19%;
}
#flow .inner-note  .text-note {
  width: 75%;
  font-size: 26px;
  line-height: 46px;
  color: white;
  font-weight: 700;
}

@media (max-width: 786px) {  
  #flow .title-flow {
    padding: 30px 0px 45px;
    font-size: 18px;
    line-height: 30px;
  }

  #flow .list-flow .inner .img-icon {
    position: relative;
    top: unset;
    transform: unset;
    right: unset;
    text-align: center;
    margin-bottom: 8px
  }

  #flow .number-info {
    font-size: 30px;
    margin-right: 7px;
  }
  #flow .list-flow .dt-info {
    font-size: 18px;
    margin-bottom:5px;
  }

  #flow .list-flow .dd-info {
    font-size: 13px;
    line-height: 24px;
    max-width: 780px;
    text-align: justify;
  }
  #flow .content-main .list-flow .item-flow {
    padding: 25px 0px 3px;
  }

  #flow .list-flow .inner {
    padding: 0px 12px;
  }


  #flow .content-main .list-flow .item-flow::after {
    background-image: url(../images/flow/line_sp.png);
    height: 10px;
    bottom: -24px;
  }

  #flow .inner-note {
    padding: 0px 12px;
    display: block;
  }
  #flow .box-note {
    margin-bottom: 15px;
    padding: 15px 0px 17px;
  }
  #flow .inner-note .img-note {
    width: 25%;
    text-align: center;
    margin-bottom: 20px;
    margin: auto;
    margin-bottom: 15px;
  }
  #flow .inner-note .text-note {
    width: 100%;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
  }


  #flow .list-flow .item-flow:nth-child(2) .img-icon {
    margin-bottom: -4px;
  }
  #flow .content-main .list-flow .item-flow:nth-child(2) {
    padding: 55px 0px 4px;
  }
  #flow .list-flow .item-flow:nth-child(3) .img-icon {
    margin-bottom: -4px;
  }
  #flow .content-main .list-flow .item-flow:nth-child(3) {
    padding: 48px 0px 7px;
  }

  #flow .list-flow .item-flow:nth-child(4) .img-icon {
    margin-bottom: -4px;
  }
  #flow .content-main .list-flow .item-flow:nth-child(4) {
    padding: 49px 0px 4px;
  }
  #flow .list-flow .item-flow:nth-child(5) .img-icon {
    margin-bottom: -4px;
  }
  #flow .content-main .list-flow .item-flow:nth-child(5) {
    padding: 42px 0px 4px;
  }
  #flow .list-flow .item-flow:nth-child(6) .img-icon {
    margin-bottom: -4px;
  }
  #flow .content-main .list-flow .item-flow:nth-child(6) {
    padding: 41px 0px 4px;
  }
  #flow .list-flow .item-flow:nth-child(7) .img-icon {
    margin-bottom: 4px;
  }
  #flow .content-main .list-flow .item-flow:nth-child(7) {
    padding: 48px 0px 15px;
  }
  #flow .content-main .list-flow {
    margin-bottom: 3px;
  }

}



/*--------------- page #faq ---------------*/





/*##faq*/
/*====================================================*/

#faq .menu-list {
  background: #2C4198;
  padding: 25px 0px 30px;
}

#faq .menu-link {
  width: calc(100%/3);
  text-align: center;
}
#faq .menu-link svg {
  transition: 0.5s;
}
#faq .menu-link:hover svg {
  transform: translateY(12px);
}
#faq .inner-list {
  display: flex;
  flex-direction: row;
  column-gap: 13px;
  max-width: 1320px;
  margin: auto;
  margin-inline: auto;
  padding: 0px 0px;
  justify-content: space-between;
}



#faq .number-info {
  font-family: 'Tw Cen MT', sans-serif;
  font-size: 40px;
  font-weight:700;
  color:white;
  margin-right: 20px;
}


#faq .title-flow {
  padding: 0px 0px 0px;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  color: white;
  font-weight: 700;
}

#faq .box-main {
  padding: 120px 0px 50px;
}

#faq .box-main .list-info {
  font-family: 'Tw Cen MT', sans-serif;
  font-size: 100px;
  font-weight:400;
  color:#2C4198;
  margin-right: 40px;
}


#faq .box-main .dt-info {
  font-size: 36px;
  line-height: 30px;
  color: #2C4198;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

#faq .inner {
  max-width: 1240px;
  padding:0px 20px;
  margin: auto;
}
#faq .content-main .box-question .item {
  position: relative;
  margin-bottom: 31px;
}
#faq .content-main .box-question .item:nth-child(5) {
  margin-bottom: 0px;
}
#faq .content-main .box-question .heading-toggle {
  position: relative;
  padding: 40px 20px 43px 100px;
  font-size: 24px;
  cursor: pointer;
  background: #2C4198;
  color: white;
  border-radius: 20px;

}
#faq .content-main .box-question .heading-toggle.open {

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}



#faq .content-main .box-question .heading-toggle::after {
  content: '';
  position: absolute;
  background-image: url(../images/top/open-faq.svg);
  width: 26px;
  height: 27px;
  top: calc(50% - 13.5px);
  right: 32px;
}
#faq .content-main .box-question .heading-toggle.open::after {
  background-image: url(../images/top/close-faq.svg);
  height: 5px;
  top: calc(50% - 2.5px);
}
#faq .content-main .box-question .heading-toggle::before {
  content: 'Q.';
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 36px;
}
#faq .content-main .box-question .content-toggle {
  position: relative;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 30px 50px 30px 100px;
  display: none; 
}
#faq .content-main .box-question .content-toggle::before {
  content: 'A.';
  position: absolute;
  top: 20px;
  left: 35px;
  font-size: 36px;
  color: #2C4198;
  font-weight: 700;
}







#faq .content-main .box-question .text-toggle {
  font-size: 22px;
  line-height: 36px;
  color: #2C4198;
}
#faq .content-main .box-question .text-toggle .line {
  text-decoration: underline;
  color: #2C4198;
}



#faq .content-main .box-question .item .text-toggle::after {
  content: '';
  position: absolute;
}
#faq .content-main .box-question .item:nth-child(1) .text-toggle::after {

  background-image: url(../images/lp/#faq/#faq_icon_01_pc.png);
  width: 97px;
  height: 121px;
  bottom: 0px;
  right: 0px;
}


#faq .content-main .box-question .item:nth-child(5) .text-toggle::after {
  background-image: url(../images/lp/#faq/#faq_icon_02_pc.png);
  width: 193px;
  height: 133px;
  bottom: -20px;
  right: 0px;
}
#faq .content-main .box-question .item:nth-child(6) .text-toggle::after {
  background-image: url(../images/lp/#faq/#faq_icon_03_pc.png);
  width: 134px;
  height: 134px;
  bottom: -20px;
  right: 0px;
}
#faq .content-main .box-question .item:nth-child(8) .text-toggle::after {
  background-image: url(../images/lp/#faq/#faq_icon_04_pc.png);
  width: 103px;
  height: 91px;
  bottom: -20px;
  right: 0px;
}
#faq .content-main .box-question .item:nth-child(10) .text-toggle::after {
  background-image: url(../images/lp/#faq/#faq_icon_05_pc.png);
  width: 109px;
  height: 107px;
  bottom: -20px;
  right: 0px;
}
#faq .content-main .box-question .item:nth-child(12) .text-toggle::after {
  background-image: url(../images/lp/#faq/#faq_icon_06_pc.png);
  width: 78px;
  height: 113px;
  bottom: -20px;
  right: 0px;
}
#faq .content-main .box-question .item:nth-child(14) .text-toggle::after {
  background-image: url(../images/lp/#faq/#faq_icon_07_pc.png);
  width: 114px;
  height: 114px;
  bottom: -20px;
  right: 0px;
}


#faq .content-main .box-question .img-toggle-top {
  margin-bottom: 10px;
}
#faq .content-main .box-question .img-toggle-top img{
  padding-left: 20%;
}
#faq .content-main .box-question .img-toggle-down img{
  padding-right: 35%;
}


#faq  .img-icon {
  max-width: 940px;
  margin: auto;
  margin-bottom: -80px;
 
}


#faq  .img-icon.animate {
  animation: drawLines 2s forwards;
  clip-path: inset(0 100% 0 0);
}


@keyframes drawLines {
  from {
      clip-path: inset(100% 0 0 0);
  }

  to {
      clip-path: inset(0 0 0 0);
  }
}



@media (max-width: 786px) {   

  #faq .number-info {
    font-size: 19px;
    margin-right: 5px;
  }
  #faq .title-flow {
    font-size: 13px;
    line-height: 16px;
  }
  #faq .menu-list svg {
    width: 10px;
  }
  #faq .menu-list {
    padding: 19px 15px 12px;
  }

  #faq .box-main .dt-info {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 8px;
  }
  #faq .menu-link:hover svg {
    transform: translateY(10px);
  }
  #faq .box-main .list-info {
    font-size: 25px;
    margin-right: 20px;
  }
  #faq .box-main {
    padding: 33px 0px 50px;
 }

 #faq .inner {
  padding: 0px 12px;
 }

  #faq .content-main .box-question .heading-toggle {
    padding: 5px 45px 5px 45px;
    font-size: 13px;
    border-radius: 5px;
    line-height: 26px;
  }

  #faq .content-main .box-question .heading-toggle::before {
    top: 6px;
    left: 15px;
    font-size: 18px;
  }
  #faq .content-main .box-question .heading-toggle::after {
    top: calc(50% - 13.5px);
    right: 5px;
    transform: scale(0.5);
  }
  #faq .content-main .box-question .content-toggle {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 25px 20px 40px;
  }
  #faq .content-main .box-question .heading-toggle.open {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  #faq .content-main .box-question .text-toggle {
    font-size: 13px;
    line-height: 26px;
  }
  #faq .content-main .box-question .content-toggle::before {
    top: 0px;
    left: 6px;
    transform: scale(0.5);
  }
  #faq .img-icon {
    margin-bottom: -42px;
  }
  #faq .content-main .box-question .item {
    position: relative;
    margin-bottom: 17px;
  }

}


@media (max-width: 374px) {
  #faq .title-flow {
      font-size: 12px;
      line-height: 16px;
  }
  #faq .box-main .list-info {
    font-size: 25px;
    margin-right: 10px;
  }
  #banner-page .title-banner {
    position: absolute;
    left: 6%;
    bottom: unset;
    top: 10%;
  }
}















